.intro-req {
  .req-content {
    .param-item {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.param-kv {
  margin: 15px 0;
  .type,
  .example {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
    .label {
      font-size: 13px;
    }
  }

  .type {
    .param-type {
      font-size: 13px;
    }

    .require {
      margin-left: 10px;
    }
  }

  .example {
    .label {
      font-size: 13px;
      margin: 0 10px;
    }

    .val {
      font-size: 13px;
    }
  }
}

.req-label-sm {
  font-size: 13px;
  margin-right: 10px;
}
