.cpn-right-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabs-wrap {
    padding: 0 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: @bg-color-primary;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .other-wrap {
    flex: 1;
    overflow: hidden;
  }
}
