@color-get: #49aa19;
@color-post: #d87a16;
@color-put: #176ddc;
@color-delete: #d84a1e;
@color-options: #176ddc;
@color-head: #176ddc;
@color-patch: #cf2f86;

.doc-operator {
  display: flex;
  .left-info {
    flex: 1;

    // 选中的样式
    .ant-select-selection-item {
      font-weight: 700;
    }
  }

  .color-get {
    .ant-select-selection-item {
      color: @color-get;
    }
  }

  .color-post {
    .ant-select-selection-item {
      color: @color-post;
    }
  }

  .color-put {
    .ant-select-selection-item {
      color: @color-put;
    }
  }
  .color-delete {
    .ant-select-selection-item {
      color: @color-delete;
    }
  }
  .color-options {
    .ant-select-selection-item {
      color: @color-options;
    }
  }
  .color-head {
    .ant-select-selection-item {
      color: @color-head;
    }
  }
  .color-patch {
    .ant-select-selection-item {
      color: @color-patch;
    }
  }

  .right-warp {
    width: 225px;
    display: flex;
    .btn {
      margin-left: 10px;
    }
  }
}

.method-select {
  padding: 3px;
  .method-item {
    padding-left: 5px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 250ms ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
  }

  .color-get {
    color: @color-get;
  }

  .color-post {
    color: @color-post;
  }

  .color-put {
    color: @color-put;
  }
  .color-delete {
    color: @color-delete;
  }
  .color-options {
    color: @color-options;
  }
  .color-head {
    color: @color-head;
  }
  .color-patch {
    color: @color-patch;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
