.projectListItem {
  display: inline-block;
  margin-right: 20px;
}
.Header-title{
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}