.project-api {
  display: flex;
  height: 100%;

  .project-api__left {
  }

  .project-api__right {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-top: none;
    // 增加样式使得右侧可以铺满剩余空间
    flex: 1;
    margin-left: 20px;
  }
}
