.project-set {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    position: relative;
  }
  .delete {
    position: absolute;
    bottom: 24px;
    right: 0;
  }
}
