.header-nav {
  width: 99vw;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 1vh;
  .left {
    padding-left: 30px;
    .title {
      position: relative;
      top: 1vh;
      font-weight: 800;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 30px;
    }
  }
  .right{
    display: flex;
    justify-content: center;
    padding-right: 30px;
    .github{
      margin-right: 16px;
    }
    .user{
      height: 10vh;
      position: relative;
      // align-items: center;
      // justify-content: center;
      .avatar{
      }
      .name{
        text-align: center;
        color:rgb(75, 75, 163);
        // position: absolute;
        // bottom: 2vh;
      }
    }
  }
}
