.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    padding-left: 30px;
    .title {
      font-weight: 800;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 30px;
    }
  }
  .right{
    padding-right: 30px;
  }
}
