.user {
  height: 100%;
  overflow: scroll;
  .content {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .my-project {
        text-align: center;
        font-weight: 800;
        font-size: 30px;
        color: @theme-color-primary;
        opacity: 80%;
      }
      .create-project {
        position: relative;
        .button {
          position: absolute;
          left: 5%;
          // left: 50%;
          // transform: translateX(-50%);
        }
      }
    }
    .list {
      //   margin-top: 30px;
      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: space-evenly;

      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 20px;

      //   justify-content: left;
      //   gap: 3.3%;
      //   margin-left: auto;
      //   padding-bottom: 5.5%;

      .item {
        margin-top: 10px;
        position: relative;
        top: 40px;
        transition: all 250ms ease;
        background-color: transparent;
        border-radius: 15px;
        overflow: hidden;
        background-color: #fff;
        &:hover {
          cursor: pointer;
          box-shadow:
            0 1px 2px 0 rgba(0, 0, 0, 0.03),
            0 1px 6px -1px rgba(0, 0, 0, 0.02),
            0 2px 4px 0 rgba(0, 0, 0, 0.02);
          transform: translate(0, -5px);
        }
      }
      .item-empty {
        position: relative;
        top: 40px;
      }
    }
  }
}
