.api-operator {
  display: flex;
  .left-info {
    flex: 1;

    // 选中的样式
    .ant-select-selection-item {
      font-weight: 700;
    }
  }

  .right-warp {
    display: flex;
    .btn {
      margin-left: 10px;
    }
  }
}
