.intro-request {
  padding: 10px 0;
  box-sizing: border-box;
  .name-wrap {
    display: flex;
    .title {
      font-size: 20px;
      font-weight: 700;
      flex: 1;
    }

    .opt-wrap {
    }
  }

  .meta-info {
    margin-top: 10px;
    display: flex;
    color: rgba(16, 24, 40, 0.56);
    .meta-item {
      margin-right: 25px;
      font-size: 14px;
      .title {
        margin-right: 5px;
      }
      .val {
        font-size: 14px;
        color: #000;
      }
    }
  }
}
