.tab {
  border-bottom: 0;
  width: auto;
  height: 20px;
  padding: 7px 0 7px 10px;
  text-overflow: ellipsis;
  display: flex;
  font-size: 14px;
  margin-bottom: -1px;
  color: rgba(16, 24, 40, 0.56);
  display: flex;
  align-items: center;

  .tab-title {
    display: flex;
    align-items: center;
  }
  .tab-content {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 10px 0 5px;
    // 禁止文本换行
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tab-closed {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tab-closed:hover {
    cursor: pointer;
  }
}

.tab-active {
  background-color: #fff;
  border: #ccc solid 1px;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  color: rgba(16, 24, 40, 0.8);
}
