.tab {
  background-color: aliceblue;
  max-width: 4.5%;
  padding: 0.5% 1.5% 0.5% 1.5%;
  text-overflow: ellipsis;
  display: flex;
  .tab-content {
    display: flex;
  }
  .tab-closed {
    margin-left: 8.5%;
  }
  .tab-closed:hover {
    cursor: pointer;
  }
}
