.ApiTab {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  .ApiTab-person {
    margin-left: auto;
    margin-right: 0%;
  }

  h1 {
    font-size: 22px;
    font-weight: 700;
  }

  h1:hover {
    cursor: pointer;
  }
}
